/* CSS Document */

/*reset all the margins and paddings*/
*{
margin: 0;
padding: 0;
}

body{
font-family: 'Roboto', sans-serif;
}

#header{
width: 100%;
height: 80px;
background: #037660; 
color: white;
line-height: 80px;
}

#header h1{
float: center;
font-size: 2em;
margin-left: 25px;
}

.jumbotron{              
text-align: center;
}

.button{
width: 15%;
height: 100%;
background-color: #a54848; 
color: white;
border: none;
font-size: 125%;
border-radius: 5px;
}

.button:hover {
    color: #fff;
    background: green;
	font-weight: bold;
}

.inexButton {
width: 10%;
height: 5%;
background-color: #30A0EA; 
color: white;
border: none;
font-size: 125%;
border-radius: 5px;
}

.inexButton:hover {
    color: #fff;
    background: orange;
	font-weight: bold;
}

/*set the background where buttons are*/
#btnsBack{
width: 100%;
height: 50px;
background: #66cc8f; 
}

#content{
width: 100%;
height: 800px;
background: url(images/abstract3.jpg) no-repeat;
background-size: cover;
text-align: center;
color: black;
line-height: 30px;
}

#enterValues{
width: 35%;
height: 300px;
background: #037660;
color: white;
line-height: 30px;
float: left;
}

form{
margin-left: 50px;
}

#data{
	width: 50%;
	height: 40px;
	padding: 6px;
	border-radius: 5px;
	border: 1px solid #CCC;
	float: left;
}

#enterText{
float: left;
font-size: 20px;
}

.btnAdd{
width: 70px;
height: 40px;
background: green;
color: white;
border: none;
font-size: 16px;
border-radius: 5px;
}

.btnAdd:hover {
    color: #fff;
    background: purple;
	font-weight: bold;
}

.btnRem{
width: 120px;
height: 40px;
background: green;
color: white;
border: none;
font-size: 16px;
border-radius: 5px;
}

.btnRem:hover {
    color: #fff;
    background: purple;
	font-weight: bold;
 }
 
.clock{
width: 200px;
margin: 0 auto;
padding: 0px;
position: absolute; top: 0px; right: 10px;
color: white;
font-size: 12px;
}

#Date{
font-family: 'Roboto', sans-serif;

text-align: center;
}

.highlight {
  background-color: #66cc8f;
  color: white;
}

.tableall{
margin: 0 auto;
}